@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 50000px) {
	#bm {
	height: 230px;
	max-width: 230px;
	margin-left: -115px;
	bottom: 35px;
	}
	.mapita{
	position: absolute;
	bottom: 0px;
	width: 280px;
	height: 100px;
	margin-left: -140px
	}
	#bm4 {
	height: 230px;
	max-width: 230px;
	margin-left: -115px;
	bottom: 15px;
	}
	.frase1{
	font-size: 3em;
	}
	.call-sumate{
	width: 450px;
	}
	#section0 ul{
	height: 450px;
	}
	.pintura{
	max-width: 380px;
	max-height: 380px;
	top: 120px;
	margin-left: -160px;
	}
	.overlay {
	width: 20%;
	}
	.overlay-2 {
	width: 45%;
	}
	.contenedor-sumate {
  	padding: 0 55px;
	}
	.myContent{
    height: 300px;
    }
	.swiper-container{
 	width: 50%;
	}
	.contenedor-estudiante{
	width: 65%;
	}
	.elemento-promotores{
	margin: 0 2%;
	width: 21%;
	font-size: 1.5em;
	}
	.icono-sumate{
	width: 150px;
	}
	.contenedor-sumate {
  	height: 400px;
	}
}
@media screen and (max-width: 1600px) {
	
}
@media screen and (max-width: 1440px) {
	#bm {
	height: 191px;
	max-width: 191px;
	margin-left: -95px;
	bottom: 30px;
	}
	.mapita{
	position: absolute;
	bottom: 0px;
	width: 250px;
	height: 80px;
	margin-left: -125px
	}
	#bm4 {
	height: 191px;
	max-width: 191px;
	margin-left: -95px;
	bottom: 15px;
	}
	.frase1{
	font-size: 2.5em;
	}
	.call-sumate{
	width: 400px;
	}
	#section0 ul{
	height: 350px;
	}
	.pintura{
	max-width: 350px;
	max-height: 350px;
	top: 100px;
	margin-left: -150px;
	}
}
@media screen and (max-width: 1280px) {
	.overlay {
	width: 30%;
	}
	.overlay-2 {
	width: 55%;
	}
	.elemento-promotores{
	margin: 25px 2% 0 2%;
	width: 46%;
	font-size: 1.2em;
	}
	.icono-sumate{
	width: 100px;
	}
	.contenedor-sumate {
  	height: 480px;
	}
}
@media screen and (max-width: 1099px) {
	
}
@media screen and (max-width: 900px) {
	
}
@media screen and (max-width: 800px) {
	.overlay {
	width: 50%;
	}
	.overlay-2 {
	width: 80%;
	}
	.contenedor-sumate {
  	padding: 0 20px;
	}
	.myContent{
    height: 320px;
    }
	.swiper-container{
 	width: 80%;
	}
	.contenedor-estudiante{
	width: 90%;
	}
}
@media screen and (max-width: 700px) {
	
}
@media screen and (max-width: 480px) {
	

}
@media screen and (max-width: 360px) {
	
}