
.fp-viewing-anchor1 .premio1, .fp-viewing-anchor1 .premio2, .fp-viewing-anchor1 .premio3, .fp-viewing-anchor1 .premio4{
	left: 0px;
	opacity: 1;
}
.fp-viewing-anchor2 .boton-participa-1{
	left: 0px;
}
.fp-viewing-anchor2 .boton-participa-2{
	right: 0px;
}